# Accept EULA & set root password
vmaccepteula
rootpw ${ROOT_PASSWORD}

# Install on first disk, overwrite VMFS, ignore warnings, errors, and force unsupported hw
install --firstdisk=local ${INSTALL_OPTIONS}

reboot

# Dynamic IP configuration
network --bootproto=dhcp

# Post-install actions
%firstboot --interpreter=busybox
# enable & start SSH
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
# enable & start ESXi Shell
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell
# Suppress ESXi Shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
